QUARK_BUNDLED_PLUGINS_DIR=/opt/quark/plugins
QUARK_INSTALLED_PLUGINS_DIR=/var/lib/quark/plugins
QUARK_NATS_STATE_DIR=/var/lib/quark/nats
QUARK_NATS_CLIENT_PORT=4222
QUARK_NATS_WEBSOCKET_PORT=9222
QUARK_NATS_MONITOR_PORT=8222
