QUARK_SUPERVISOR_PORT=7200
QUARK_SPACES_ROOT=/var/lib/quark/spaces
QUARK_BUNDLED_PLUGINS_DIR=/opt/quark/plugins
QUARK_NATS_STATE_DIR=/var/lib/quark/nats
QUARK_NATS_CLIENT_PORT=4222
QUARK_NATS_WEBSOCKET_PORT=9222
QUARK_NATS_MONITOR_PORT=8222
